@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
.App {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #f6f6f6;
font-family: 'Mulish', sans-serif;
}